.test-color {
    color: $test-color;
  }
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.vue:hover {
    filter: drop-shadow(0 0 2em #42b883aa);
  }
  
  .bottom-ment-item-9 > .el-sub-menu__title,
  .bottom-ment-item-3 > .el-sub-menu__title,
  .bottom-ment-item-2 > .el-sub-menu__title,
  .bottom-ment-item-4 > .el-sub-menu__title,
  .bottom-ment-item-5 > .el-sub-menu__title,
  .bottom-ment-item-6 > .el-sub-menu__title{
    background: var(--el-sub-menu-bg);
  }
  .bottom-ment-item-9-sub > .el-menu-item-group__title,
  .bottom-ment-item-2-sub > .el-menu-item-group__title,
  .bottom-ment-item-3-sub > .el-menu-item-group__title,
  .bottom-ment-item-4-sub > .el-menu-item-group__title,
  .bottom-ment-item-5-sub > .el-menu-item-group__title,
  .bottom-ment-item-6-sub > .el-menu-item-group__title{
    padding: 0 !important;
  }
  
  .micon-tuichu{
    font-size: 16px;
  }
  
  .user-ipt .el-input__wrapper, .pwd-ipt .el-input__wrapper{
      background-color: rgba(255, 255, 255, 0.07);
      border: none;
      box-shadow: 0 0 0 0px var(--el-input-border-color,var(--el-border-color)) inset;
  }
  
  .user-ipt .el-input__inner, .pwd-ipt .el-input__inner{
    color: #FFF;
  }
  
  .user-ipt .el-input__inner::placeholder, .pwd-ipt .el-input__inner::placeholder {
    color: #FFF;
  }
  
  .animate-custom-duration {
    animation-duration: .3s;
  }
  
  .animate-custom-duration-0{
    animation-duration: 0s;
  }
  
  .animate-custom-duration-01{
    animation-duration: .1s;
  }
  
  .animate-custom-duration-02{
    animation-duration: .2s;
  }
  
  .animate-custom-duration-03{
    animation-duration: .3s;
  }

  .header-nav-font .el-breadcrumb__inner {
    font-size: 14px;
}